:root {
    --primary-font: "Roboto", sans-serif;
    --primary-text-color: #434455;
    --primary-white-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header-logo-color {
    color: #2E2F42;
}

.header-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-menu-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-menu-link:hover, .header-menu-link:focus {
    color: #404BBF;
}

.header-contacts {
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-contacts-link {
    color: #434455;
}

.header-contacts-link:hover, .header-contacts-link:focus {
    color: #404BBF;
}


.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.hero-btn {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor:pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

.advantages-item-name {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.advantages-description {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.technologies {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.project-item-description {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team {
    background-color: #F4F4FD;
}

.team-guide {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list-member {
    background-color: #fff;
}

.team-list-name {
    background-color: #FFFFFF;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-list-position {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-slogan {
    color:  #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.filter-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color:  #F4F4FD;
    color:  #4D5AE5;
    cursor: pointer;
}

.filter-btn:hover, .filter-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.project-item-description {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.project-item-specific {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-color {
    color: #F4F4FD;
}